.invisibleForMouse{
    pointer-events: none;
    z-index: 10;
}
.zoneForMove {
    position: absolute;
    height: 26px;
    width: calc(100% + 30px);
    z-index: 7;
    top: -7px;
    left: -15px;
}
.zoneContainer {
    position: relative;
    padding: 5px 0;
    &.hovered {
        padding: 15px;
        background: rgba(255, 0, 0, 0.2);
        transition: all 0.2s ease-in-out;
    }
}

.circle.c6{
    height: 20px;
    right: -10px;
    background: rgb(255, 230, 0);
}

.zoneContainer.one-third:before{
    content: '';
    display: block;
    position: absolute;
    width:100%;
    height: 2px;
    background: #000;
    top: 5px;
    left: -10px;
}

.zoneContainer.two-third:before{
    content: '';
    display: block;
    position: absolute;
    width:15px;
    height: 2px;
    background: #000;
    top: 50%;
    left: 0px;
}
.zoneContainer.two-third:after{
    content: '';
    display: block;
    position: absolute;
    width:15px;
    height: 2px;
    background: #000;
    top: 50%;
    right: 0px;
}

.zoneContainer.three-third:after{
    content: '';
    display: block;
    position: absolute;
    width:100%;
    height: 2px;
    background: #000;
    bottom: 5px;
    left: -10px;
}
.callMenu{
    //position: relative;

    &:hover{
        //background: red;
    }
}
.contextMenu {
    display: none;
    position: absolute;
    background:#fff;
    min-width: 150px;
    padding:10px;
    right: 0;
    z-index: 2;
    border: 1px solid #1a3a70;
   
    ul{
        margin: 0;
        padding: 0;
        li {
            list-style: none;
            display: block;
            padding: 5px 2px;
            margin: 2px 0;
            color: #1a3a70;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            font-weight: bold;
            &:not(.hr){
                &:hover{
                    text-decoration: underline;
                    background: rgba(0, 0, 0, 0.1);
                    
                }
            }
            
        }
    }
}

.item.isOpen{
    .contextMenu{
        display: block;
    }
}