<div class="itemHolder">
  <div class="item" [ngClass]="{'done': info.isDone}">
      <div class="progressBar"  [ngStyle]="{'width.%': calculateReadiness(info.id), 'background-color': 'hsl(' + (200 - calculateReadiness(info.id)) + ', 50%, 80%)'}" *ngIf="!info.isDone"></div>
      <div class="textarea" contenteditable="true" #textarea (blur)="getValue(info.id)">{{info.text}}</div>
      <div class="collapse" *ngIf="info.children.length > 0" (click)="dataService.toggleExpand(info.id)">
        <span  [ngClass]="{'line': !info.isCollapsed}" >
            <span *ngIf="info.isCollapsed">{{info.children.length}}</span>
        </span>
      </div>
      <div class="callMenu">
          <div class="circle c1" (click)="dataService.addBelow(info.id)"></div>
          <div class="circle c2" (click)="dataService.removeItem(info.id)"></div>
          <div class="circle c3" (click)="dataService.setPriorityItem(info.id)"></div>
          <div class="circle c4" (click)="dataService.markDone(info.id)"></div>
          <div class="circle c5"></div>
      </div>
  </div>
  <div class="subItemContainer" *ngIf="info.children.length && !info.isCollapsed">
      <app-item [info]="item" *ngFor="let item of sourcedata"></app-item>
  </div>
</div>

