<div class="itemHolder" 
    #itemholder (mouseup)="onMouseUp($event, info.id)" 
    id="{{info.id + '_holder'}}">

    <div class="zoneContainer" 
        (mousemove)="onMouseOverMove($event)" 
        (mouseover)="onMouseOver($event)" 
        (mouseout)="onMouseOut($event)" >
        <div class="item" 
            [ngClass]="{'done': info.isDone}" 
            id="{{info.id}}"  
            #item>
            <div class="progressBar"  
                [ngStyle]="{'width.%': calculateReadiness(info.id), 'background-color': 'hsl(' + (200 - calculateReadiness(info.id)) + ', 50%, 80%)'}" 
                *ngIf="calculateReadiness(info.id) < 100"></div>
            <div class="textarea" 
                contenteditable="true" 
                #textarea 
                (blur)="getValue(info.id)">
                    {{info.text}}
                </div>
            <div class="collapse" 
                *ngIf="info.children.length > 0" 
                (click)="dataService.toggleExpand(info.id)">
                <span  [ngClass]="{'line': !info.isCollapsed}" >
                    <span *ngIf="info.isCollapsed">{{info.children.length}}</span>
                </span>
            </div>
            <div class="contextMenuContainer">
                <!-- <div style="position: absolute; height: 100%;"> -->
                    <div (mousedown)="onMouseDown($event, parentId)" style="position: absolute; height: 100%; width:100%;">
                        <div class="callMenu">
                            <div class="circle c1"></div>
                            <div class="circle c2"></div>
                            <div class="circle c3"></div>
                            <div class="circle c4"></div>
                        </div>                        
                    </div>
                    <div class="contextMenu" id="{{info.id + '_menu'}}"  #menu>
                        <ul>
                            <li (click)="addBelow(info.id, $event)">Add Below</li>
                            <li (click)="removeItem(info.id, parentId, $event)">Remove</li>
                            <li (click)="setPriorityItem(info.id, $event)">Set Priority</li>
                            <li *ngIf="!info.children.length" (click)="markDone(info.id, $event)">Mark Done</li>
                            <li *ngIf="info.children.length > 0"  (click)="dataService.toggleExpand(info.id)">Expand / Collapse</li>
                            <li (click)="copy(info.id, parentId, true)">Copy</li>
                            <li (click)="copy(info.id, parentId, false)">Cut</li>
                            <li *ngIf="dataService.copyPasteInfo.clickSource" (click)="paste(info.id)">Paste</li>
                            <li class="hr"><hr></li>
                            <li (click)="closeMenu($event)">Cancel</li>
                        </ul>
                    </div>
                <!-- </div> -->
            </div>
            
        </div>
    </div>
    <div class="subItemContainer" *ngIf="info.children.length && !info.isCollapsed">
        <app-item [currentId]="item" [parentId]="info.id" *ngFor="let item of sourcedata"></app-item>
    </div>
</div>

