<div class="itemHolder" #itemholder (mouseup)="onMouseUp($event, info.id)" id="{{info.id + '_holder'}}">
    <!-- <div class="zoneContainer">
        <div class="zoneForMove" (mouseover)="onMouseOver($event)" (mouseout)="onMouseOut($event)" (mouseup)="onMouseUp($event, info.id, 'zone')"></div>
    </div> -->


  <!-- <button (click)="showTruth(info.id)">Show the truth</button> -->
    <div class="zoneContainer" (mousemove)="onMouseOverMove($event)" (mouseover)="onMouseOver($event)" (mouseout)="onMouseOut($event)" >
        <div class="item" [ngClass]="{'done': info.isDone}" id="{{info.id}}"  #item>
            <div class="progressBar"  [ngStyle]="{'width.%': calculateReadiness(info.id), 'background-color': 'hsl(' + (200 - calculateReadiness(info.id)) + ', 50%, 80%)'}" *ngIf="!info.isDone"></div>
            <div class="textarea" contenteditable="true" #textarea (blur)="getValue(info.id)">{{info.text}}</div>
            <div class="collapse" *ngIf="info.children.length > 0" (click)="dataService.toggleExpand(info.id)">
                <span  [ngClass]="{'line': !info.isCollapsed}" >
                    <span *ngIf="info.isCollapsed">{{info.children.length}}</span>
                </span>
            </div>
            <div class="callMenu">
                <div class="circle c1" (click)="dataService.addBelow(info.id, $event)"></div>
                <div class="circle c2" (click)="dataService.removeItem(info.id, parentId, $event)"></div>
                <div class="circle c3" (click)="dataService.setPriorityItem(info.id, $event)"></div>
                <div class="circle c4" (click)="dataService.markDone(info.id, $event)"></div>
                <div class="circle c5" (mousedown)="onMouseDown($event, false, parentId)" ></div>
                <div class="circle c6" (mousedown)="onMouseDown($event, true, parentId)"></div>
            </div>
            
        </div>
    </div>
    <div class="subItemContainer" *ngIf="info.children.length && !info.isCollapsed">
        <app-item [currentId]="item" [parentId]="info.id" *ngFor="let item of sourcedata"></app-item>
    </div>
</div>

