<div class="placeholder" [ngClass]="{'noPriority': !priority}">
    <div class="fixedcontainer">
        <div class="content">
            <div class="container">
                    <div class="priority" (click)="priorityDone(priority.id, $event)">
                        <h2>Priority for now:</h2>
                        <div class="item" *ngIf="priority">
                            <div class="textarea">{{priority.text}}</div>
                            <div class="callMenu">
                                <div class="circle c1"></div>
                                <div class="circle c2"></div>
                                <div class="circle c3"></div>
                                <div class="circle c4"></div>
                            </div>
                        </div>
                        <div class="item dummy" *ngIf="!priority">
                            <div class="textarea" >Nothing to do. Just relax:)</div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>