/* .priority {
    background: #fff;
    position: fixed;
    z-index: 2;
} */
.content {
    min-height: auto;
}
.placeholder {
    height: 180px;
}
.fixedcontainer {
    width: 100%;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.noPriority {
    &.item{
        //background: #007bff
        background: none;
    }
    .textarea {
        color: #ccc;
        border: 1px dashed #aaa;
    }
}
